/* thememobile.module.css */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 20px; /* Jarak antar menu */
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: #333; /* Warna teks menu */
}

.toggleButton {
    display: none; /* Sembunyikan tombol hamburger pada tampilan desktop */
}

.menuMobile {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menuMobile li {
    padding: 10px 0;
}

.menuMobile li a {
    text-decoration: none;
    color: #333; /* Warna teks menu */
    display: block;
}

@media (max-width: 768px) {
    .menu {
        display: none; /* Sembunyikan menu desktop pada tampilan mobile */
    }

    .toggleButton {
        display: block; /* Tampilkan tombol hamburger pada tampilan mobile */
    }
}
