@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .md\\:flex-row {
      flex-direction: row;
  }

  .md\\:mb-0 {
      margin-bottom: 0;
  }

  .md\\:mr-8 {
      margin-right: 2rem; /* Sesuaikan sesuai kebutuhan */
  }
}